<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- CAN通信配置 -->
		<add key="CAN_BaudRate" value="250Kbps" />
		<add key="CAN_DevType" value="USBCAN-II/II+" />
		<add key="CAN_DevIndex" value="0" />
		<add key="CAN_Channel" value="1" />
		<add key="Protocol_BMS_CAN" value="V1.0" />
	</appSettings>
</configuration>